* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#exit-new-story-overlay:hover {
    cursor: pointer;
}

button,
html input[type="button"],
input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}
html {
    height: 100%;
}
.section {
  height: 100vh;
  padding-right: 50px;
  padding-left: 50px;
  background-image: url('../images/kids-jumping12.png');
  background-position: 0px 0px;
  background-size: cover;
}

.section._2 {
  background-image: url('../images/kids-jumping14.png');
}

.section._3 {
  background-image: url('../images/kids-jumping553.png');
}

.section.video {
  background-image: url('../images/Masktransparent.png');
  background-position: 0px 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.section._4 {
  padding-bottom: 25px;
  background-image: url('../images/1-GiSLXNLx0AND7QEo0titrA-Copy.png');
  background-position: 0px 50%;
}

.navbar {
  background-color: transparent;
  color: #fff;
}

.nav-link {
  margin-top: 15px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 700;
}

.image {
  padding-top: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}
input.w-button {
    -webkit-appearance: button;
  }
.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}
.new-story-body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-family: Lato, sans-serif;
  }

.image-new-story-october {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}


.new-story-overlay-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 100%, .93);
}

.overlay-wrapper-medium {
  left: 0px;
  top: auto;
  right: 0px;
  bottom: 0px;
  height: 50%;
  padding-top: 15px;
}

.overlay-wrapper-small {
  left: auto;
  top: auto;
  right: 0px;
  bottom: 0px;
  width: 380px;
  height: 50%;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.overlay-container-new-story {
  width: 60%;
  height: 100%;
  padding: 20px;
  border-radius: 3px;
  color: #555;
  text-align: center;
}

.overlay-container-medium {
  width: 60%;
  padding-top: 10px;
}

.overlay-container-small {
  width: 100%;
}

.new-story-h1-overlay {
  margin-top: 10px;
  font-family: Selima, sans-serif;
  font-size: 58px;
  line-height: 54px;
  font-weight: 400;
}

.h1-overlay-small {
  margin-top: 0px;
  font-size: 20px;
  line-height: 20px;
}

.overlay-button {
  border-radius: 3px;
  background-color: #1dbbd8;
  font-size: 16px;
  letter-spacing: 0.25px;
}

.h4-overlay {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}

.h4-overlay.small {
  font-size: 16px;
}

.close-overlay {
  position: fixed;
  top: 0px;
  right: 0px;
  margin-top: 11px;
  margin-right: 13px;
  font-family: 'Varela Round', sans-serif;
  color: #555;
  font-size: 25px;
}

.close-overlay.medium {
  position: absolute;
}

.overlay-link-wrapper {
  color: #555;
  text-decoration: none;
}

.new-story-text-span {
  font-size: 85px;
  line-height: 44px;
}

.new-story-text-span.small {
  font-family: Lato, sans-serif;
  font-size: 35px;
  font-weight: 900;
}

.overlay-small-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.overlay-small-text.small {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

@media (max-width: 991px) {
  .overlay-container {
    width: 100%;
  }
  .overlay-container.medium {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .overlay-wrapper-medium {
    height: 379px;
  }
  .overlay-container {
    width: 95%;
  }
}

@media (max-width: 479px) {
  .overlay-wrapper-medium {
    height: 527px;
  }
  .overlay-wrapper-small {
    width: auto;
    height: 331px;
  }
  .overlay-container {
    padding-right: 5px;
    padding-left: 5px;
  }
  .overlay-container-small {
    padding-top: 32px;
  }
  .h1-overlay {
    font-size: 35px;
  }
}

@font-face {
  font-family: 'Selima';
  src: url('../fonts/Selima-.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}