html, body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: #333;
}
@font-face {
    font-family: 'Selima';
    src: url('Selima-.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

.tagline {
    font-family: 'Selima', 'Lato', sans-serif;
    font-size: 5em;

}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
.sizes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.small {
    width: 30%;
    padding: 10px;
}

.medium {
    width: 30%;
    padding: 10px;
}
.large {
    width: 30%;
    padding: 10px;
}
img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-size: 0.8em;
    background: rgb(113,227,208);
    overflow: scroll;
}
.script {
    max-width: 400px;
}
.script script {
    width: 100%;
}
footer {
    text-align: center;
}